<!doctype html>
<html lang="zh">
<head>
	<meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no">
	<meta http-equiv="content-type" content="txt/html; charset=utf-8" />
	<link rel="shortcut icon" href="image/favicon.ico" type="image/x-icon" />

	<link href="../../libs/css/common_base.css" rel="stylesheet" type="text/css">
	<link href="../../libs/css/header.css" rel="stylesheet" type="text/css">
	<link href="../../libs/css/about.css" rel="stylesheet" type="text/css">

	<!-- bootstrap -->
	<script type="text/javascript" src="../../libs/jquery-3.1.0.min.js"></script>
	<link rel="stylesheet" href="../../libs/bootstrap/css/bootstrap.min.css" />
	<script src="../../libs/bootstrap/js/popper.min.js"></script>
	<script src="../../libs/bootstrap/js/bootstrap.min.js"></script>

	<!-- bootstrap-switch-->
	<link href="../../libs/bootstrap/css/bootstrap-switch.min.css" rel="stylesheet">
	<script src="../../libs/bootstrap/js/bootstrap-switch.min.js"></script>

	<title>关于我们？</title>

</head>

<body>

	<style>
		h1 {
			margin-top: 50px;
			text-align: center;
		}

		p {
			padding: 0;
			font-size: 18px;
			text-indent: 2rem;
		}

		.about-container {
			display: flex;
			justify-content: center;
			align-items: center;
			background-color: #17140b;
			width: 100%;
			height: 100%;
		}

		img {
			height: 100%;
			background-size: contain;
			background-repeat: no-repeat;
			background-position: top center;
		}
	</style>
	<!--<div class="about-container">
			<img src="../../assets/imges/banner.jpg" alt="">
		</div>-->


	<h1>极创机器人智能科技（山东）有限公司</h1>

	<p>团队坚持“专注、极致、创新、快”的企业理念，是一家专注在移动机器人底盘赛道，对标国际 先进技术的高新技术企业，曾获得“互联网+”全国大学生创业大赛金奖，中国科协科创中国“新锐
		企业榜”入选企业。产品主要应用于应急救援、军工、配送、巡检、安防、特种环境作业等场景。目 前有履带式、爬壁、轮式三十款成熟底盘和十余项核心技术，形成专利六十余项。已为全球700多个
		开发团队提供超2500余台各类履带式轮式机器人底盘，为移动机器人创新大幅降低门槛。
	</p>
	<p>用户可通过可编程线控底盘+丰富周边，加快移动机器人研发进程，让全球移动机器人创意高效 落地！</p>

</body>

<script type="text/javascript" src="../../libs/coco-message.js"></script>

</html>